.DS_Store
**/analysis/*
**/figures/*
**/reference/*
**/data/*
**/resources/*
**/int/*
**/cisTarget_databases/*
**/ARCHIVE/*
.Rhistory
.Rapp.history
**/notUploaded/*
**/fromO2/*
**/plot_colors/*
**/scCoda/*

.Rproj.user
